<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wechat</title>
</head>
<body>
<div style="text-align:center ">
    <form action="/wechat/" method="post">
        <p>
            <label for="phone">账号：</label>
            <input id="phone" name="phone" type="text"/>

        </p>
        <p>
            <label for="password">密码：</label>
            <input id="password" name="password" type="password"/>
            {% csrf_token %}
        </p>
        <p>
            <label for="number">步数：</label>
            <input id="number" name="number"/>

        </p>
        <p>
            <input type="submit" value="登录"/>
        </p>
    </form>
    <p style="color: red;font-size:50px">
        {{ info }}
    </p>
</div>
</body>
</html>